In [28]:
import xlwings as  xw
import pandas as pd
import datetime

In [39]:
def get_reshaped_record(record):
    
    dates = set(record['Date'])
    descs = record['Desc']
    record = record.set_index(['Date','Desc'])
    data = []
    for d in dates:
        row = [d]
        for desc in descs:
            if (d, desc) in record.index:
                row.append(record.loc[d, desc]['Fixing'])
            else:
                row.append(-1)
        data.append(row)
    cols = ['DATE'] + list(descs)
    new_df = pd.DataFrame(data, columns = cols )
    new_df = new_df.set_index('DATE')
    return new_df

def update_history(history, new_record):
    for d in new_record.index:
        for rate in new_record.columns:
            if new_record.at[d, rate] != -1:
                history.at[d, rate] = new_record.at[d, rate]
    history = history.fillna(-1)

In [34]:
%run ./EuriborEurirsScraper.ipynb
record = pd.concat([df_ESTER, df_EURIBOR, df_EURIRS]).reset_index(drop=True)

excel_name = 'fixings.xlsx'
sheet = "fixing_history"

In [35]:
new_record = get_reshaped_record(record)
history = pd.read_excel('fixings.xlsx')
history = history.set_index('DATE')
update_history(history, new_record)

In [32]:
with pd.ExcelWriter(excel_name, date_format = 'yyyy-mm-dd', datetime_format = 'yyyy-mm-dd') as writer:
    history.sort_index(ascending = False).to_excel(writer, sheet_name = sheet, index=True )

In [37]:
new_record

,ESTER,EURIBOR 1W,EURIBOR 1M,EURIBOR 3M,EURIBOR 6M,EURIBOR 12M,IRS 1Y,IRS 2Y,IRS 3Y,IRS 4Y,...,IRS 9Y,IRS 10Y,IRS 11Y,IRS 12Y,IRS 15Y,IRS 20Y,IRS 25Y,IRS 30Y,IRS 40Y,IRS 50Y
DATE,,,,,,,,,,,,,,,,,,,,,
2022-05-04,-0.00585,-1.00000,-1.00000,-1.00000,-1.00000,-1.00000,0.003,0.01,0.0128,0.0142,...,0.0173,0.0178,0.0182,0.0185,0.0189,0.0178,0.0162,0.0147,0.0126,0.0111
2022-05-03,-1.00000,-0.00566,-0.00543,-0.00425,-0.00198,0.00225,-1.000,-1.00,-1.0000,-1.0000,...,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000